* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;

    #header-part {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 25px;
        width: 80%;

        .left-header {
            display: flex;
            align-items: center;
            gap: 30px;

            nav {
                ul {
                    display: flex;
                    gap: 25px;

                    .list-header {
                        a {
                            font-size: 17px;
                            color: black;

                            &:hover {
                                transition: all .6s;
                                color: #FFB54E;
                            }
                        }
                    }
                }
            }
        }

        .right-header {
            display: flex;
            align-items: center;
            font-size: 15px;
            gap: 25px;

            a {
                &:hover {
                    transition: all .5s;
                    color: #FFB54E;
                    animation: iconanime 1.5s;
                }
            }
        }
    }
}
#up-sect{
    display: flex;
    justify-content: center;
    .up-sect{
        display: flex;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        margin: 25px;
        padding: 15px;
        border-top: 1px solid black;
        .cards-up-sect{
            display: flex;
            gap: 15px;
            align-items: center;
            .img-up{
                overflow: hidden;
                width: 90px;
                height: 75px;
                img{
                    width: 75px;
                    height: 75px;
                    object-fit: cover;
                    &:hover{
                        transition: all .7s;
                        transform: scale(1.15);
                    }
                }
            }
            .txt-up{
                display: flex;
                flex-direction: column;
                gap: 7px;
                a{
                    color: black;
                    &:hover{
                        color: red;
                        transition: all .5s;
                        text-decoration: underline;
                    }
                }
                span{
                    color: #ACACAC;
                    font-size: 14px;
                }
            }
        }
    }
}
#picked{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-top: 1px solid black;
        padding: 15px;
        .up-picked{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 98%;
            padding-top: 15px;
            h4{
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 900;
            }
            span{
                color: #ACACAC;
                text-transform: capitalize;
                font-size: 13px;
            }
        }
        .down-picked{
            display: flex;
            gap: 20px;
            .left-picked{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .cards-picked{
                    img{
                        height: 425px;
                        width: 475px;
                        object-fit: cover;
                    }
                }
            }
            .right-picked{
                display: flex;
                flex-direction: column;
                .cards-picked{
                    width: 250px;
                    img{
                        width: 236px;
                        height: 151px;
                    }
                }
                .cards-picked-text{
                    gap: 10px;
                }
            }
        }
        .cards-picked-text {
            display: flex;
            flex-direction: column;
            gap: 15px;
            h5{
                color: #FFB54E;
                text-transform: uppercase;
                font-size: 14px;
            }
            a{
                color: black;
                font-size: 17px;
                font-weight: 700;
                &:hover{
                    transition: all .5s;
                    color: red;
                    text-decoration: underline;
                }
            }
            span{
                color: #ACACAC;
                text-transform: capitalize;
                font-size: 14px;
            }
        }
    }
    aside{
        width: 312px;
        height: 671px;
        padding: 15px;
        border-top: 1px solid black;
        border-bottom: 1px solid #ACACAC;
        border-left: #ACACAC 1px solid;
        .up-aside{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
            h4{
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 900;
            }
            span{
                color: #ACACAC;
                text-transform: capitalize;
                font-size: 13px;
            }
        }
        .news-part{
            .news{
                display: flex;
                flex-direction: column;
                padding-top: 15px;
                gap: 5px;
                height: 90px;
                border-bottom: 1px solid #ACACAC;
                a{
                    color: black;
                    &:hover{
                        transition: all .5s;
                        color: red;
                        text-decoration: underline;
                    }
                }
                span{
                    color: #ACACAC;
                }
            }
        }
        .div{
            display: flex;
            align-items: center;
            gap: 15px;
            height: 65px;
            img{
                width: 50px;
                height: 50px;
                padding-top: 3px;
                object-fit: cover;
                border-radius: 50%;
            }
            span{
                color: #5d5656;
            }
        }
    }
}

@keyframes iconanime {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}